---
import { site } from '../data/site';
---
<a href={site.phoneHref} class="mobilecall">
  <span>📞 {site.phone}</span>
  <em>{site.hoursNote}</em>
</a>
<style>
  .mobilecall {
    display: none; position: fixed; bottom: 0; left: 0; right: 0; z-index: 60;
    background: var(--orange); color: #fff; text-align: center; padding: 10px;
    flex-direction: column; line-height: 1.2;
  }
  .mobilecall span { font-weight: 700; }
  .mobilecall em { font-size: 0.72rem; font-style: normal; opacity: 0.9; }
  @media (max-width: 768px) { .mobilecall { display: flex; } }
</style>
